<!DOCTYPE HTML>
<html lang="en-gb">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base id="baseURL" href="http://devservices.metro.co.uk/metro-quizzes/" />
<title></title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<div id="nav" class="container">
	<ul class="nav nav-pills">
	  <li id="nav-simple-index"><a href="">Quizzes</a></li>
	  <li id="nav-add-quiz"><a href="edit">Add quiz</a></li>
	</ul>
</div>

<div id="app" class="container"></div>

<script id="tpl-edit-quiz" type="text/template">
	<input id="input-quiz-id" type="hidden"/>
	<div class="bs-callout bs-callout-info top-notes">
		<h4>Tips</h4>
		<ul>
			<li>You need the same number of possible answers for each question</li>
			<li>For a standard quiz, you need the same number of results as options.</li>
			<li>For a quiz with correct answers, tick the "Scored quiz" checkbox and click the radio button for the correct answer to each question.</li>
			<li>Enter the results in the same order as the answers they correspond to.</li>
			<li>To use images from WordPress, search for each image, copy the image's full URL from the picture details page in WordPress and paste it in the form. Alternatively you can enter the image filename in the form and send your image files to us.</li>
		</ul>
	</div>
	<h3>General</h3>
	<div id="main" class="form-group">
		<label for="input-quiz-name">Name <span class="required">*</span></label>
		<input id="input-quiz-name" type="text" class="form-control input-sm" placeholder="Name"/>
		<div class="checkbox">
			<label>
				<input id="input-score-correct" type="checkbox"> Scored quiz
			</label>
		</div>
	</div>
	<h3>Questions</h3>
	<section id="questions"></section>
	<div class="form-group spacer">
		<button id="add-question" class="btn btn-default btn-sm" type="button">+ Question</button>
	</div>
	<h3 class="separator">Results</h3>
	<section id="results"></section>
	<div class="form-group">
		<button id="add-result" class="btn btn-default btn-sm" type="button">+ Result</button>
	</div>
	<div class="save-cancel form-group">
		<div id="spinner" class="is-hidden"></div>
		<button id="input-save" class="btn btn-success input-save btn-sm" type="button">Save</button>
	</div>
</script>

<script id="tpl-error" type="text/template">
	<div class="view-error">
		<h1>Error</h1>
		<p>Sorry, there was an error:</p>
		<p class="error"><%= message %></p>
		<a href="/backbone-json">Home</a>
	</div>
</script>

<script id="tpl-question" type="text/template">
	<div class="question-group input-del-group">
		<label class="full-label" for="quest-<%= id %>">Question <span class="required">*</span></label>
		<input id="quest-<%= id %>" type="text" class="question form-control input-sm" placeholder="Question" value="<%= title %>" data-id="<%= id %>"/>
		<button class="btn btn-default glyphicon glyphicon-remove question-remove btn-xs" data-question="<%= id %>" tabindex="-1"></button>
	</div>
	<div class="image-group form-input-group">
		<label class="full-label" for="img-<%= id %>">Image</label>
		<input id="img-<%= id %>" type="text" class="image form-control input-sm" placeholder="Image" value="<%= image %>" data-questionID="<%= id %>"/>
		<span class="help-block">Example <code>1.jpg</code>. Ideally a 650 x 390 jpeg, but in any case no more than 500 high.</span>
		<label class="full-label" for="img-credits-<%= id %>">Image credits</label>
		<input id="img-credits-<%= id %>" type="text" class="image-credits form-control input-sm" placeholder="Image credits" value="<%= imageCredits %>"/>
	</div>
</script>

<script id="tpl-option" type="text/template">
	<div class="option-container">
		<label class="full-label" for="opt-<%= option.id %>">Answer <span class="required">*</span></label>
		<div class="option-group input-group input-del-group" id="option-group-<%= option.id %>">
			<span class="is-answer-group input-group-addon">
				<% if (isAnswer) { %>
				<input type="radio" name="is-answer-<%= questionID %>" value="<%= option.id %>" checked="checked">
				<% } else { %>
				<input type="radio" name="is-answer-<%= questionID %>" value="<%= option.id %>">
				<% } %>
			</span>
			<input id="opt-<%= option.id %>" type="text" class="option input-del form-control input-sm" placeholder="Answer" value="<%= option.title %>" data-id="<%= option.id %>"/>
			<span class="input-group-btn">
				<button class="btn btn-default glyphicon glyphicon-remove option-remove btn-sm" data-question="<%= questionID %>" tabindex="-1"></button>
			</span>
		</div>
	</div>
</script>

<script id="tpl-add-option-btn" type="text/template">
	<div class="option-btn-container form-group" id="option-btn-<%= questionID %>">
		<button class="add-option btn btn-default btn-sm" type="button" data-question="<%= questionID %>">+ Answer</button>
	</div>
</script>

<script id="tpl-result" type="text/template">
	<div class="result-container form-group" data-result="<%= id %>">
		<div class="result-group input-del-group">
			<label class="full-label" for="result-<%= id %>-title">Title <span class="required">*</span></label>
			<input id="result-<%= id %>-title" type="text" class="result-title input-del form-control input-sm" placeholder="Title" value="<%= title %>"/>
			<button class="btn btn-default glyphicon glyphicon-remove result-remove btn-xs" data-result="<%= id %>" tabindex="-1"></button>
		</div>
		<div class="result-group form-input-group">
			<label class="full-label" for="result-<%= id %>-before-title">Before Title</label>
			<input id="result-<%= id %>-before-title" type="text" class="form-control input-sm" placeholder="Before Title" value="<%= beforeTitle %>"/>
			<span class="help-block">If you want to start the result with something other than "You're..."</span>
		</div>
		<div class="result-threshold-group result-group form-input-group">
			<label class="full-label" for="result-<%= id %>-threshold">Threshold <span class="required">*</span></label>
			<input id="result-<%= id %>-threshold" type="text" class="form-control input-sm" placeholder="Threshold" value="<%= threshold %>"/>
			<span class="help-block">User has to score at least this to get this result</span>
		</div>
		<div class="result-group form-input-group">
			<label class="full-label" for="result-<%= id %>-text">Text <span class="required">*</span></label>
			<input id="result-<%= id %>-text" type="text" class="form-control input-sm" placeholder="Text" value="<%= text %>"/>
		</div>
		<div class="result-group form-input-group">
			<label class="full-label" for="result-<%= id %>-fb-title">Facebook Title <span class="required">*</span></label>
			<input id="result-<%= id %>-fb-title" type="text" class="form-control input-sm" placeholder="Facebook Title" value="<%= facebookName %>"/>
		</div>
		<div class="result-group form-input-group">
			<label class="full-label" for="result-<%= id %>-fb-text">Facebook Text</label>
			<input id="result-<%= id %>-fb-text" type="text" class="form-control input-sm" placeholder="Facebook Text" value="<%= facebookDescription %>"/>
		</div>
		<div class="result-group form-input-group">
			<label class="full-label" for="result-<%= id %>-twitter-text">Twitter Text <span class="required">*</span></label>
			<input id="result-<%= id %>-twitter-text" type="text" class="form-control input-sm" placeholder="Twitter Text" value="<%= twitterText %>"/>
		</div>
		<div class="image-group form-input-group">
			<label class="full-label" for="result-<%= id %>-img">Image <span class="required">*</span></label>
			<input id="result-<%= id %>-img" type="text" class="form-control input-sm" placeholder="Image" value="<%= image %>"/>
			<span class="help-block">Example <code>result-1.jpg</code>. Ideally 450 x 450 square jpeg</span>
		</div>
		<div class="image-group form-input-group">
			<label class="full-label" for="result-<%= id %>-share-img">Image for Sharing</label>
			<input id="result-<%= id %>-share-img" type="text" class="form-control input-sm" placeholder="Image for Sharing" value="<%= shareImage %>"/>
			<span class="help-block">Example <code>result-1-share.jpg</code>. Jpeg at least 1200 pixels wide. If you don't specify one we'll use the main image.</span>
		</div>
		<div class="image-group form-input-group">
			<label class="full-label" for="result-<%= id %>-img-credits">Image Credits</label>
			<input id="result-<%= id %>-img-credits" type="text" class="form-control input-sm" placeholder="Image Credits" value="<%= imageCredits %>"/>
		</div>
	</div>
</script>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->

<script src="js/routers/router.js"></script>
<script src="js/models/quiz.js"></script>
<script src="js/collections/quizzes.js"></script>
<script src="js/views/quiz.js"></script>
<script src="js/views/quizzes.js"></script>
<script src="js/views/editQuiz.js"></script>
<script src="js/views/error.js"></script>
<script src="js/app.js"></script>

</body>
</html>
